###**Conditional Insights**

We may use concept of boolean indexing in DataFrame to access a particular type of data, and draw inferenced from it.

In [ ]:
df

      sl   sw   pl   pw     flower_type
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
8    4.4  2.9  1.4  0.2     Iris-setosa
9    4.9  3.1  1.5  0.1     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[145 rows x 5 columns]

Lets try to gain insights of data correspondign to Iris-virginica.

In [ ]:
df[df.flower_type == 'Iris-virginica'].describe()

             sl         sw         pl        pw
count  50.00000  50.000000  50.000000  50.00000
mean    6.58800   2.974000   5.552000   2.02600
std     0.63588   0.322497   0.551895   0.27465
min     4.90000   2.200000   4.500000   1.40000
25%     6.22500   2.800000   5.100000   1.80000
50%     6.50000   3.000000   5.550000   2.00000
75%     6.90000   3.175000   5.875000   2.30000
max     7.90000   3.800000   6.900000   2.50000

###**Addition of data**

####**loc()**

In [ ]:
df.loc[0] = [1, 2, 3, 4, 'Iris-virginica']
df.tail()

      sl   sw   pl   pw     flower_type
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica
0    1.0  2.0  3.0  4.0  Iris-virginica

We may directly create new columns also according to our needs.

In [ ]:
df["diff_of_sl_sw"] = df['sl'] - df['sw']
df.head()

    sl   sw   pl   pw  flower_type  diff_of_sl_sw
2  4.7  3.2  1.3  0.2  Iris-setosa            1.5
3  4.6  3.1  1.5  0.2  Iris-setosa            1.5
4  5.0  3.6  1.4  0.2  Iris-setosa            1.4
8  4.4  2.9  1.4  0.2  Iris-setosa            1.5
9  4.9  3.1  1.5  0.1  Iris-setosa            1.8

In [ ]:
df.drop('diff_of_sl_sw', axis = 1, inplace = True)

###**Reset Index**

After removing certain rows, the order of indices got changed. We can reset it using the **reset_index()** function.

In [ ]:
df.reset_index()

     index   sl   sw   pl   pw     flower_type
0        2  4.7  3.2  1.3  0.2     Iris-setosa
1        3  4.6  3.1  1.5  0.2     Iris-setosa
2        4  5.0  3.6  1.4  0.2     Iris-setosa
3        8  4.4  2.9  1.4  0.2     Iris-setosa
4        9  4.9  3.1  1.5  0.1     Iris-setosa
..     ...  ...  ...  ...  ...             ...
141    146  6.3  2.5  5.0  1.9  Iris-virginica
142    147  6.5  3.0  5.2  2.0  Iris-virginica
143    148  6.2  3.4  5.4  2.3  Iris-virginica
144    149  5.9  3.0  5.1  1.8  Iris-virginica
145      0  1.0  2.0  3.0  4.0  Iris-virginica

[146 rows x 6 columns]

But this has created an additional column with old indices. To avoid that, we do:

In [ ]:
df.reset_index(drop = True)

      sl   sw   pl   pw     flower_type
0    4.7  3.2  1.3  0.2     Iris-setosa
1    4.6  3.1  1.5  0.2     Iris-setosa
2    5.0  3.6  1.4  0.2     Iris-setosa
3    4.4  2.9  1.4  0.2     Iris-setosa
4    4.9  3.1  1.5  0.1     Iris-setosa
..   ...  ...  ...  ...             ...
141  6.3  2.5  5.0  1.9  Iris-virginica
142  6.5  3.0  5.2  2.0  Iris-virginica
143  6.2  3.4  5.4  2.3  Iris-virginica
144  5.9  3.0  5.1  1.8  Iris-virginica
145  1.0  2.0  3.0  4.0  Iris-virginica

[146 rows x 5 columns]